body { background: #37817b; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 28px; display: flex; }
.block-cache-0 { color: #e8b881; font-size: 19px; margin-bottom: 5px; }
.block-order-1 { color: #a410ce; font-size: 21px; margin-bottom: 5px; }
.block-sms-2 { color: #31b6ec; font-size: 16px; margin-bottom: 5px; }
.block-uploader-3 { color: #426f7d; font-size: 15px; margin-bottom: 5px; }
.block-cache-4 { color: #a6a204; font-size: 12px; margin-bottom: 5px; }
.block-config-5 { color: #52bddd; font-size: 13px; margin-bottom: 5px; }